
.footer {
    width: 100%;
    border-top: 1px solid gray; /* Light grey line */
    box-shadow: 0 4px 2px -2px gray;

    background-color: #0e4c90;
    padding: 20px;
    bottom: 0;
    color: white;
    position: fixed;
    left: 0;
    z-index: 1000;
}

.footer-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

.footer-container p {
    margin: 0;
    /*font-size: 20px;*/

}
